---
---
@import "{{ site.theme }}";

:root {
  --main-pink: #FF69B4;
  --light-pink: #FFF0F5;
  --dark-pink: #C71585;
}

body {
  background-color: var(--light-pink);
  color: #333;
}

h1, h2, h3 {
  color: var(--dark-pink) !important;
}

a {
  color: var(--main-pink);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--dark-pink);
  text-shadow: 0px 0px 8px #FFB6C1;
}

.btn {
  background-color: var(--main-pink) !important;
  border: none !important;
}
